<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="nav flex-column">
          <ul class="sidebar">
            <li class="nav-item"><%= @admin.company_name %></li>
            <% @locale.each do |locale| %>
              <li class="nav-item"><%= link_to "#{locale.locale_name}", locale_path(locale) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>