<div class="container">
  <div class="row justify-content-center">
    <div class="card mt-5 mt-sm-2 shadow-lg">
      <div class="card-header text-center h3" style="width: 20em;">
        <%= @locale.locale_name %>
      </div>
      <div class="card-body">
        <h4 class="text-center">
          <%= @staff.family_name %>&ensp;<%= @staff.given_name %>
        </h4>
        <div class="inline-group text-center mt-3">
          <div id="today" class="punch_button_today"></div>
          <div id="clock" class="punch_button_clock"></div>
          <%= render 'punch_button' %>
        </div>
      </div>
    </div>
  </div>
</div>