<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="h2 text-center locale-name"><%= @locale.locale_name %></div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
      <div class="inline-group text-center mt-3">
        <div id="today" class="punch_button_today"></div>
        <div id="clock" class="punch_button_clock"></div>
        <h4 class="text-center staff-name"><%= @staff.family_name %>&ensp;<%= @staff.given_name %></h4>
        <%= render 'punch_button' %>
      </div>
  </div>
</div>