<%= search_form_for @search, url: manager_path do |q| %>
<div class="container">
  <div class="row">
    <div class="form-group">
      <div class="input-group" id="in_gteq" data-target-input="nearest">
        <%= q.text_field :in_gteq, class: "form-control datetimepicker-input", data: { target: '#in_gteq'}, placeholder:"検索　開始日時" %>
        <div class="input-group-append" data-target="#in_gteq" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div class="form-group mx-2">
      <div class="input-group" id="in_lteq" data-target-input="nearest">
        <%= q.text_field :in_lteq, class: "form-control datetimepicker-input", data: { target: '#in_lteq'}%>
        <div class="input-group-append" data-target="#in_lteq" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= q.submit '絞り込み',class:"btn btn-success btn-sm" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker-input').datetimepicker({
      locale: 'ja'
    });
  });
</script>