// Place all the styles related to the locales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas{
  display: none;
}

.punch_today{
  font-size: 2rem;
  margin:8px
}
.punch_clock{
  font-size:6rem;
  font-weight:bold;
  margin:8px;
}

@media  (max-width: 575.98px){
	.punch_clock {
    font-size: 4.5rem;
	}
}