// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.punch_button_today{
  font-size: 1.5rem;
}

.punch_button_clock{
  font-size: 4rem;
  font-weight: bold;
}

svg{
  margin:0 auto;
}